@font-face {
    font-family: 'logo';
    src: url(../assets/fonts/Righteous-Regular.ttf);
}

.logo{
    font-family: 'logo';
    color: rgba(255, 166, 1, 0.815);

}

.hotel__img {
    aspect-ratio: 4/3;
    height: 100%;
    object-fit: cover;
}

.bg-orange {
    background-color: rgba(255, 166, 1, 0.815);
}

.text-orange {
    color: rgba(255, 166, 1, 0.815);
}

.text-orange:hover {
    color: rgba(122, 122, 122, 0.815);
}

.table td {
    vertical-align: middle;
}

.table__header {
    background-color: (152,186,187);
}

.bg-card {
    background-color: #212529;
}

.hotel__header {
    height: 300px;
}

.hotel__bg {
    background: linear-gradient(90deg, rgb(48, 48, 48, 0.6) 50%, transparent 100%);
}

.footer__logo {
    width: 40px;
    height: 40px;
}