* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hotel__img{
    aspect-ratio: 3/4;
    flex-basis: 100px;
}

.body{
    background: linear-gradient(0deg, rgba(152,186,187) 0%, rgba(255,255,255) 100%);
}

.table__header{
    background-color: (152,186,187);
}
